.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
}

.char {
  display: inline-block;
}

.word {
  display: inline-block;
  will-change: transform, opacity, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.scroll-reveal-text {
  display: inline;
}

.scroll-reveal,
.scroll-float {
  transform: translateZ(0);
  backface-visibility: hidden;
}
